# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
.env/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy / Pyre type checker
.mypy_cache/
.pyre/
.dmypy.json
dmypy.json

# IDE / editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

*.db